.email2{
    border: 3px ridge green;
    background-color: green;
}
.bort{
    border: 3px ridge rgb(255, 251, 0);
}
.kkk{
    border: 3px ridge rgb(112, 248, 0);
}
.yash{
    border: 3px ridge green;
}