.cont__email {
  margin-top: 30px;

  .email {
    outline: none;
    font-size: 20px;
    caret-color: red;
    font-family: Kenia;
  }
}
.cont__pass {
  margin-top: 30px;

}

.pass {
  outline: none;
  caret-color: red;
  font-size: 20px;
  font-family: Kenia;
}
